config.log
mdwf-config
target
Makefile
*.aux
*.dvi
*.log
*.nwi
*.out
noweb/mdwf.tex
noweb/qcd-defs.tex
*.loa
*.pdf
*.toc
dry/*.c
cee-64/*.[cha]
cee-32/*.[cha]
c99-64/*.[cha]
c99-32/*.[cha]
bgl-xlc/*.[cha]
bgq-xlc/*.[cha]
port/qop-mdwf3.h
*/*.o
